# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
*.egg
api/nltk_data
# Entornos virtuales
venv/
env/
ENV/
.venv/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Archivos de datos generados
*.bin
*.heap
*.dat
*.idx
*.npz
*.pkl
*.npy

# SIFT - Archivos grandes generados
SIFT_struct/descriptors
SIFT_struct/test_images
SIFT_struct/test_images_reescaladas
SIFT_struct/query_images
sift/

# Logs
*.log
logs/

# Archivos temporales
*.tmp
*.temp
.cache/

# Variables de entorno
.env
.env.local

# Coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
api/nltk_data

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

#Data
api/data/
api/__pycache__/
